<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=5>
		<font color=#43a8a5 size=6>
			<br />
			<div align=center>
بررسی آلودگی هوای آمریکا
            </div>
		</font>
		<br />
		<hr />
		<style type="text/css" scoped>
        p{
        border: 1px solid #a2a9b1;background-color: #f8f9fa;display: inline-block;
        };
        </style>
	</font>
</div>

<p></p>
<br />
<div id="intro" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
در این تمرین می‌خواهیم با داده‌های آلودگی هوای آمریکا در سال ۲۰۱۸ که پیش‌تر در درس‌نامه pandas با آن کار کردیم، بیشتر کار کنیم و سوالاتی را از آن جواب دهیم.
        <br>
ابتدا داده را از فایل csv بخوانید
و در متغیر aqi_data بریزید.
    <br>
        
</div>

In [13]:
import numpy as np
import pandas as pd

In [14]:
aqi_data = pd.read_csv("AQI2018.csv")
aqi_data.head()

  State Name county Name        Date  AQI Category Defining Parameter
0    Alabama     Baldwin  2018-01-02   32     Good              PM2.5
1    Alabama     Baldwin  2018-01-05   34     Good              PM2.5
2    Alabama     Baldwin  2018-01-08   15     Good              PM2.5
3    Alabama     Baldwin  2018-01-11   19     Good              PM2.5
4    Alabama     Baldwin  2018-01-14   25     Good              PM2.5

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
در ابتدا می‌خواهیم ببینیم در چه تاریخ‌هایی میانگین آلودگی هوای آمریکا بیشترین مقدار بوده است. 
    10
    تاریخی را که بیشترین میانگین آلودگی هوا را در این سال داشته‌اند، به ترتیب میانگین آلودگی، در فایلی به نام 
    dates.csv
    ذخیره کنید.
<br>
توجه کنید که این فایل دو ستون و ده سطر باید داشته باشد که ستون اول تاریخ‌هایی که بیشترین آلودگی هوا را دارند (به ترتیب) باشد و در ستون دوم میانگین آلودگی هوا در آن روز برای تاریخ مربوطه قرار بگیرد.

        
</div>

In [15]:
Most_pullet = pd.DataFrame(aqi_data.groupby('Date')['AQI'].mean())

In [16]:
Final_Pulluted_ans = Most_pullet.sort_values(by='AQI',ascending=False)[:10]

In [17]:
Final_Pulluted_ans.to_csv('dates.csv')

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
در ادامه می‌خواهیم بدانیم 
    10
    ایالتی که بیشترین میزان 
     «میانه» (median)
    آلودگی را در سال ۲۰۱۸ داشته‌اند، کدام ایالت‌ها هستند. 
<br>
    <br>
مانند قسمت قبل، نام ده ایالت را به ترتیب میانه آلودگی به صورت نزولی به همراه میانه شاخص آلودگی هوای آن ایالت در فایلی به نام 
    states.csv
    ذخیره کنید. این فایل نیز باید دو ستون و ده سطر داشته باشد.

</div>

In [18]:
State = pd.DataFrame(aqi_data.groupby('State Name')['AQI'].median())

In [21]:
Finall_pulluted_State = State.sort_values(by='AQI',ascending=False)[:10]

In [22]:
Finall_pulluted_State

                       AQI
State Name
California            47.0
Utah                  46.0
District Of Columbia  44.0
Colorado              44.0
Arizona               44.0
Wyoming               43.0
Country Of Mexico     42.0
New Mexico            42.0
Nevada                41.0
Delaware              40.0

In [23]:
Finall_pulluted_State.to_csv('states.csv')

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
می‌خواهیم بدانیم در منطقه 
    San Diego
    بیشترین آلاینده‌ها در این سال چه آلاینده‌هایی بوده‌اند.
<br>
در فایلی به نام 
     parameters.csv
    که دو ستون دارد و ستون اول نام آلاینده‌ها و ستون دوم تعداد روزهایی است که آلاینده مذکور در ستون اول، آلاینده اصلی بوده، داده‌ها را به صورت نزولی بر اساس تعداد روزها ذخیره کنید.
    
</div>

In [24]:
San_Diego = aqi_data[aqi_data['county Name']=='San Diego']

In [32]:
San_Diego

,State Name,county Name,Date,AQI,Category,Defining Parameter
27078,California,San Diego,2018-01-01,139,Unhealthy for Sensitive Groups,PM2.5
27079,California,San Diego,2018-01-02,94,Moderate,PM2.5
27080,California,San Diego,2018-01-03,94,Moderate,PM2.5
27081,California,San Diego,2018-01-04,76,Moderate,PM2.5
27082,California,San Diego,2018-01-05,78,Moderate,PM2.5
...,...,...,...,...,...,...
27438,California,San Diego,2018-12-27,54,Moderate,PM2.5
27439,California,San Diego,2018-12-28,53,Moderate,PM2.5
27440,California,San Diego,2018-12-29,53,Moderate,PM2.5
27441,California,San Diego,2018-12-30,57,Moderate,PM2.5
27442,California,San Diego,2018-12-31,47,Good,PM2.5

In [51]:
Final = pd.DataFrame(San_Diego.groupby('Defining Parameter').size(), columns={'Days'})

In [52]:
Final

                    Days
Defining Parameter
NO2                    1
Ozone                202
PM2.5                162

In [53]:
Final_sorted = Final.sort_values(by='0',ascending=False)

KeyError: '0'

In [38]:
Final_sorted

                      AQI
Defining Parameter
Ozone               14978
PM2.5               10228
NO2                    41

In [39]:
Final_sorted.to_csv('parameters.csv')

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
می‌توانید پس از تکمیل موارد خواسته شده و خروجی گرفتن سه فایل
    parameters.csv، 
    states.csv
        و
    dates.csv
پس از ذخیره کردن نوت‌بوک،
دکمه ارسال پاسخ را بزنید.
        
</div>