<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=3>
در سلول پایین کد زیر را بنویسید و آن را اجرا کنید. (برای اجرای هر سلول shift + enter را بزنید) 
    </font>
</div>

In [1]:
print("hi jupiter")

hi jupiter

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=3>
می‌توانید با استفاده از علامت تعجب در ابتدای کد سلول، 
دستورهای 
terminal
را در آن اجرا کنید.    </font>
</div>

In [2]:
!cd

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=3>
در طول دوره از سه کتاب‌خانه‌ی زیر استفاده می‌شود. برای راحتی هر سه‌ی آن‌ها را همین حالا نصب کنید.      </font>
</div>

In [6]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-1.1.2-cp36-cp36m-manylinux1_x86_64.whl (10.5 MB)
     |████████████████████████████████| 10.5 MB 44 kB/s eta 0:00:015     |███████████████████████████▍    | 9.0 MB 149 kB/s eta 0:00:11
Collecting pytz>=2017.2
  Using cached pytz-2020.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/mohammad/Documents/StuDying/collegeML/myvenv/lib/python3.6/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.15.4
  Downloading numpy-1.19.2-cp36-cp36m-manylinux2010_x86_64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 205 kB/s eta 0:00:01     |████████████████████████        | 10.9 MB 207 kB/s eta 0:00:18
Requirement already satisfied: six>=1.5 in /home/mohammad/Documents/StuDying/collegeML/myvenv/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.19.2 pandas-1.1.2 pytz-2020.1
WARNING: You are using pip version 20.2.2; however, version 20.2.3 is available.
You should consider upgrading via the '/home/mohammad/Documents/StuDying/collegeML/myvenv/bin/python -m pip install --upgrade pip' command.

In [7]:
!pip3 install numpy

Requirement already satisfied: numpy in /home/mohammad/Documents/StuDying/collegeML/myvenv/lib/python3.6/site-packages (1.19.2)
WARNING: You are using pip version 20.2.2; however, version 20.2.3 is available.
You should consider upgrading via the '/home/mohammad/Documents/StuDying/collegeML/myvenv/bin/python -m pip install --upgrade pip' command.

In [8]:
!pip3 install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.3.2-cp36-cp36m-manylinux1_x86_64.whl (11.6 MB)
     |████████████████████████████████| 11.6 MB 102 kB/s eta 0:00:01    |██████████▍                     | 3.8 MB 58 kB/s eta 0:02:14     |█████████████████████████████   | 10.5 MB 109 kB/s eta 0:00:11
Collecting certifi>=2020.06.20
  Using cached certifi-2020.6.20-py2.py3-none-any.whl (156 kB)
Collecting pillow>=6.2.0
  Downloading Pillow-7.2.0-cp36-cp36m-manylinux1_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 127 kB/s eta 0:00:01     |███████████████████████████▍    | 1.9 MB 210 kB/s eta 0:00:02
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: python-dateutil>=2.1 in /home/mohammad/Documents/StuDying/collegeML/myvenv/lib/python3.6/site-packages (from matplotlib) (2.8.1)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.2.0-cp36-cp36m-manylinux1_x86_64.whl (88 kB)
Requirement already satisfied: numpy>=1.15 in /home/mohammad/Documents/StuDying/collegeML/myvenv/lib/python3.6/site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/mohammad/Documents/StuDying/collegeML/myvenv/lib/python3.6/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in /home/mohammad/Documents/StuDying/collegeML/myvenv/lib/python3.6/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Installing collected packages: certifi, pillow, cycler, kiwisolver, matplotlib
Successfully installed certifi-2020.6.20 cycler-0.10.0 kiwisolver-1.2.0 matplotlib-3.3.2 pillow-7.2.0
WARNING: You are using pip version 20.2.2; however, version 20.2.3 is available.
You should consider upgrading via the '/home/mohammad/Documents/StuDying/collegeML/myvenv/bin/python -m pip install --upgrade pip' command.

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=3>
کد‌های زیر را اجرا کنید    </font>
</div>

In [9]:
import pandas as pd
credit_df = pd.read_csv('credit.csv')

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=3>
در کد بالا به کمک کتاب‌خانه‌ی numpy (که در  درسنامه‌های بعدی مفصل با آن آشنا می‌شوید) داده‌هایی را که در فایل credit.csv است را می‌خواند و در متغیر credit_df قرار می‌دهد. در بخش بعدی می‌توانید سطر‌های اول این داده را مشاهده کنید:    </font>
</div>

In [10]:
credit_df

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=3>
در این سوال که به عنوان نمونه برای شما طراحی شده است باید میانگین مقادیر `Balance`
 و مقادیر مختلف ستون `Ethnicity`
 را محاسبه کنید. دقت کنید این دو مقدار باید حتما در ethnics و balance ذخیره شود. (اگر اسم متفاوتی داشته باشند سیستم داوری پاسخ درستی نخواهد داد)  

کد زیر در داده‌ی بالا،
میانگین ستون `Balance`
 و 
 مقادیر ستون `Ethnicity`
 را استخراج می‌کند.    </font>
</div>

In [11]:
ethnics = credit_df['Ethnicity'].unique()
balance = credit_df['Balance'].mean()

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=3>
برای مشاهده‌ی این مقادیر می‌توانید مانند زیر اسم متغیر را نوشته و سلول را اجرا کنید    </font>
</div>

In [12]:
balance

520.015

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=3>
در پایان  حتما  جوپیتر خود را  ذخیره (save) کنید. برای این کار  می‌توانید گزینه‌ی بالا و سمت چپ صفحه استفاده کنید و یا ctrl + s را بزنید. بعد از ذخیره کردن دکمه ارسال پاسخ را فشار دهید.    </font>
</div>